@model EmployeeVM
@{
    ViewData["Title"] = SharedLocalizer["Delete"];
}

@section JqueryUI {
    <link rel="stylesheet" href="~/plugins/bootstrap-select/css/bootstrap-select.css">
}

    <div class="block-header">
        <h2>@Model.Name @SharedLocalizer["Delete"]</h2>
    </div>

<form asp-action="Delete" asp-controller="Employee">

    <input type="hidden" asp-for="Id" />


        <label asp-for="Name">@SharedLocalizer["Name"]</label>
    <input type="text" asp-for="Name" class="form-control p-2" readonly />
    <br />

        <label asp-for="Salary">@SharedLocalizer["Salary"]</label>
        <input type="text" asp-for="Salary" class="form-control p-2" readonly />
    <br />

        <label asp-for="HireDate">@SharedLocalizer["HireDate"]</label>
        <input type="text" asp-for="HireDate" class="form-control p-2" readonly>
    <br />


        <label asp-for="Email">@SharedLocalizer["EmailAddress"]</label>
        <input type="email" asp-for="Email" class="form-control p-2" readonly>
    <br />


        <label asp-for="EmpAddress">@SharedLocalizer["Address"]</label>
        <input type="text" asp-for="EmpAddress" class="form-control p-2" readonly>
    <br />


        <label asp-for="Notes">@SharedLocalizer["Notes"]</label>
        <textarea asp-for="Notes" class="form-control p-2" rows="4" readonly></textarea>
    <br />


    @* <div class="demo-checkbox">
        <input type="checkbox" asp-for="IsActive" checked="checked" />
        <label asp-for="IsActive">IsActive</label>
    </div>
    <br />*@

        <label asp-for="IsActive">@SharedLocalizer["IsActive"]</label>
        <input type="text" asp-for="IsActive" class="form-control p-2" readonly>
    <br />


    <select asp-for="DepartmentId" disabled>
        <option>@ViewBag.DepartmentList</option>
    </select>


    <center>
            <a asp-action="Index" asp-controller="Employee" class="btn btn-info">@SharedLocalizer["Return"]</a>
            <a asp-action="Update" asp-controller="Employee" asp-route-id="@Model.Id" class="btn btn-warning">@SharedLocalizer["Update"]</a>
            <input type="submit" value="@SharedLocalizer["Delete"]" class="btn btn-danger" />

    </center>
    <br />
    <br />
    <br />

        <input type="hidden" asp-for="ImageName" />
        <input type="hidden" asp-for="CvName" />

 </form>

