@model DepartmentVM
@{
    ViewData["Title"] = @SharedLocalizer["CND"];
}


<div class="block-header">
    <h2>@SharedLocalizer["CND"]</h2>
</div>

<h1>@ViewData["Msg"]</h1>


@*Helper Tag*@
<form asp-controller="Department" asp-action="Create" class="form-group">

    <label asp-for="Name">@SharedLocalizer["DN"]</label>
    <input type="text" asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
    <br />

    <label asp-for="Code">@SharedLocalizer["DCard"]</label>
    <input type="text" asp-for="Code" class="form-control" />
    <span asp-validation-for="Code" class="text-danger"></span>
    <br />

    <center>
        <input type="submit" value="@SharedLocalizer["Save"]" class="btn btn-primary" />
        <a asp-action="Index" asp-controller="Department" class="btn btn-info">@SharedLocalizer["Return"]</a>
    </center>

</form>

@section JQueryValidation {
    <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}


